body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 20px;
    background: url('uclogo.png') bottom right/contain no-repeat fixed;
    background-size: 10%; 
    color: white; 
    font-size: 30px;
    background-color: #333333; 
}

footer button {
    font-family: 'Times New Roman', serif;
    background-color: black;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s, color 0.3s;
    width: 160px; 
    height: 40px; 
    box-sizing: border-box; 
}

footer button:hover {
    background-color: gray;
    color: white;
}

footer button:active {
    background-color: darkgray;
    color: white;
}
